*{
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #190c47;;
	font-weight: bold;
	position: fixed;
	width: 100%;
	box-shadow: grey 0 3px 5px;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 50px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: lightgray;
}

.header {
	padding: 30px;
	text-align: center;
	background: lightgray;
}

/* 타이틀 */
.header h1 {
	padding-top: 35px;
	font-size: 80px;
}

/* 출력창 */
.container{
	background-color: lightgray;
	width: 98%;
	height: 500px;
	padding-left: 2%;
	padding-top: 2%;
}

.champion{
	background-color: white;
	width: 45%;
	height: 450px;
	float: left;
	margin-left: 2%;
}

/* 검색창 */
form{
	background-color: lightgray;
	width: 50%;
	height: 50px;
	float: left;
	text-align: center;
	margin-left: 2%;
}

input[type=text] {
	width: 350px;
	padding: 15px 20px;
	box-sizing: border-box;
	border: none;
	background-color: white;
	color: dimgray;
	border-radius: 25px;
} 

input:focus {
	outline:none;
}

.search{
	width: 70px;
	height: 45px;
	border-radius: 25px;
	border: none;
	background-color: #008CBA;
	color: white;
}

/* 사진이랑 승률 박스 */
.minicon{
	width: 50%;
	background-color: lightgray;
	float: left;
	height: 400px;
	margin-left: 2%;
}

.photo{
	width: 25%;
	height: 40%;
	margin-top: 2%;
	margin-left: 37%;
	background-color: white;
	text-align: center;
}

.result{
	width: 70%;
	height: 50.5%;
	margin-top: 3%;
	margin-left: 15%;
	background-color: white;
	text-align: center;
}