*{
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #190c47;;
	font-weight: bold;
	position: fixed;
	width: 100%;
	box-shadow: grey 0 3px 5px;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 50px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: lightgray;
}

.header {
	padding: 30px;
	text-align: center;
	background: lightgray;
}

/* 타이틀 */
.header h1 {
	padding-top: 35px;
	font-size: 80px;
}

/* 버튼 */
.timebt{
	background-color: lightgray;
	padding-left: 5%;
	padding-top: 1%;
}

button{
	width: 140px;
	height: 40px;
	border-radius: 10px;
	color: white;
	border: none;
}

button:focus{
	border: none;
    outline:none
}

#bfo{
	background-color: rgb(20, 78, 136);
}

#aft{
	background-color: #008CBA;
}

.container{
	background-color: lightgray;
	width: 100%;
	height: 500px;
	float: left;
}

.champion{
	background-color: white;
	width: 45%;
	height: 400px;
	float: left;
	margin-left: 5%;
}

.minicon{
	background-color: gray;
	width: 40%;
	height: 400px;
	float: left;
}

.choice{
	background-color: gray;
	height: 50px;
}

select{
	width: 100px;
	height: 30px;
	margin-top: 2%;
	margin-left: 10%;
}

.photo{
	background-color: white;
	width: 30%;
	height: 200px;
	float: left;
	margin-top: 10%;
	margin-left: 3%;
}

.result{
	background-color: white;
	height: 300px;
	width: 60%;
	float: left;
	margin-top: 10px;
	margin-left: 3%;
}