*{
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #190c47;;
	font-weight: bold;
	position: fixed;
	width: 100%;
	box-shadow: grey 0 3px 5px;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 50px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: lightgray;
}

.header {
	padding: 30px;
	text-align: center;
	background: lightgray;
}

/* 타이틀 */
.header h1 {
	padding-top: 35px;
	font-size: 80px;
}

/* 버튼 */
.timebt{
	background-color: rgb(211, 211, 211);
	padding-left: 5%;
	padding-top: 1%;
}

button{
	width: 140px;
	height: 40px;
	border-radius: 10px;
	color: rgb(255, 255, 255);
	border: none;
}

button:focus{
	border: none;
    outline:none
}

#top{
	background-color: #008CBA;
}

#mid{
	background-color: #008CBA;
}

#jungle{
	background-color: #008CBA;
}

#btm{
	background-color: #008CBA;
}

#spt{
	background-color: #144e88;
}

.timemenu{
	padding-left: 5%;
	background-color: lightgray;
}

#timestamp{
	width: 250px;
	background-color: #144e88;
}

.champion{
	padding-left: 5%;
	background-color: lightgray;
}

.championlast{
	padding-left: 5%;
	background-color: lightgray;
	padding-bottom: 2%;
}

p{
	background-color: white;
	width: 85%;
	height: 200px;
	border-radius: 10px;
}